
<div class="container_mobile">
	<div class="dashboard">
		<div align="center" style="padding-bottom: 5px; padding-top: 0px"
			class="title">
			<span style="color: #9B9B9B">Check No Transaction</span><br>
		</div>
		<br>
		<div class="form-group row">
			<input class="form-control form-control-lg" type="text"
				placeholder="Search" id="search">
		</div>
		<br>
		<div class="d-grid gap-2 col-6 mx-auto">
			<button class="btn btn-primary" type="button" onclick="search()">Search</button>
		</div>
	</div>
	<!-- </div> -->
</div>

<script type="text/javascript" src="js/dashboard.js"></script>