<span>Ketentuan Format text file upload yaitu menggunakan column fix length</span>
<hr>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    No Transaction
    <span class="badge bg-primary badge-pill">Length 15</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Merchant Name (diisi ID)
    <span class="badge bg-primary badge-pill">Length 11</span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-center">
    Transaction Time
    <span class="badge bg-primary badge-pill">Length 19</span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-center">
    Staff Name (diisi ID)
    <span class="badge bg-primary badge-pill">Length 11</span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-center">
    Pay Amount
    <span class="badge bg-primary badge-pill">Length 11</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Payment Name (diisi ID)
    <span class="badge bg-primary badge-pill">Length 11</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Customer Name (diisi ID)
    <span class="badge bg-primary badge-pill">Length 11</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Tax
    <span class="badge bg-primary badge-pill">Length 11</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Change Amount 
    <span class="badge bg-primary badge-pill">Length 11</span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-center">
    Total Amount 
    <span class="badge bg-primary badge-pill">Length 11</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Payment Status
    <span class="badge bg-primary badge-pill">Length 11</span>
  </li>
</ul>